.more-projects-banner {
  h3 {
    color: #F5F5F5;
    ffont-family: canada-type-gibson, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
  }
}
