.our-services {
  .link-title {
    font-family: pill-gothic-300mg, sans-serif;
    color: #2FC2B3;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.112px; /* 100.56% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  ul {
    li {
      color: #FFF;
      font-family: canada-type-gibson, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 20.112px; /* 125.7% */
      letter-spacing: 1px;
      margin-bottom: 7px;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .services-headline {
    color: #F5F5F5;
    font-family: canada-type-gibson, sans-serif;
    font-size: 66px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  p {
    color: #F5F5F5;
    font-family: canada-type-gibson, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 30px */
    letter-spacing: 0.4px;
  }
  .services {
    li {
      color: #F5F5F5;
      font-family: canada-type-gibson, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 20px;
      &:before {
        content: "//";
        color: $chl-teal;
        margin-right: 10px;
        font-weight: 700;
        letter-spacing: -2.2px;
      }
    }
  }
}

.split-card {
  h2 {
    color: white;
  }
  p {
    color: $click-here-dark;
    line-height: 30px;
  }
}
