p {
  color: #F4F4F4;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  line-height: 130%; /* 26px */
}

h2 {
  color: #F5F5F5;
  font-family: canada-type-gibson, sans-serif;
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 59.4px */
  letter-spacing: 0.66px;
}

h3 {
  color: #F5F5F5;
  /* H3 */
  font-family: canada-type-gibson, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: 0.96px;
  text-transform: capitalize;
}
