.work-section {
  .headline {
    color: #F5F5F5;
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5px;
    opacity: 0.15;
  }
}
